<div class="navbar">
    <a href="/"><%- pageTitle %></a>
<a href="https://discord.com/oauth2/authorize?client_id=807258833327489064&permissions=8&scope=bot">Add DashboardBot</a>
    <div class="right">
        <% if (user) { %>
            <a><%- user.tag %></a>
            <a href="/servers">My Servers</a>
            <a href="/authorize/logout">Logout</a>
        <% } else { %>
            <a href="/authorize">Login</a>
        <% } %>
    </div>
</div>