<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <div class="page-content">
        <h1>Hi</h1>
        <p>This is a discord bot dashboard made for Dark Studio.<br><a href="https://discord.gg/TvNTDzDXg9"><img src="https://invidget.switchblade.xyz/TvNTDzDXg9"/></a></p>
    </div>
</body>
</html>